@media only screen and (max-width: 600px) {
  .nav-icons {
    font-size: 30px;
    margin: 0 10px;
  }

  #navbar-design {
    padding: 10px 15px;
  }

  .nav-items:hover .nav-icons {
    transform: translateY(-25px) scale(1.5);
  }

  .nav-text {
    display: none;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
  }
  
  .nav-items:hover .nav-text {
    display: block;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 100px;
    transform: translateY(-58px);
  }

  #hero-profile-box {
    height: 90%;
  }

  #hero-profile {
    height: 300px;
    width: 300px;
  }

  #resume-body {
    width: 480px;
  }
}

@media only screen and (min-width: 600px) {
  .nav-icons {
    font-size: 35px;
    margin: 0 20px;
  }

  #navbar-design {
    padding: 10px 20px;
  }

  #nav-title {
    width: 90px;
  }

  .nav-items:hover .nav-icons {
    transform: translateY(-25px) scale(1.6);
  }

  .nav-text {
    display: none;
  }

  #hero-profile-box {
    height: 90%;
  }

  #hero-profile {
    height: 350px;
    width: 350px;
  }

  #resume-body {
    width: 600px;
  }
}

@media only screen and (min-width: 768px) {
  .nav-icons {
    font-size: 35px;
    margin: 0 20px;
  }

  #navbar-design {
    padding: 10px 20px;
  }

  #nav-title {
    width: 90px;
  }

  .nav-items:hover .nav-icons {
    transform: translateY(-25px) scale(1.6);
  }

  .nav-text {
    display: none;
  }

  #hero-profile-box {
    height: 90%;
  }

  #hero-profile {
    height: 350px;
    width: 350px;
  }

  #resume-body {
    width: 800px;
  }
}

@media only screen and (min-width: 992px) {
  .nav-icons {
    font-size: 35px;
    margin: 0 20px;
  }

  #navbar-design {
    padding: 10px 20px;
  }

  #nav-title {
    width: 90px;
  }

  .nav-items:hover .nav-icons {
    transform: translateY(-25px) scale(1.8);
  }

  .nav-text {
    display: none;
  }

  #hero-profile-box {
    height: 90%;
  }

  #hero-profile {
    height: 400px;
    width: 400px;
  }

  #resume-body {
    width: 1000px;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-icons {
    font-size: 35px;
    margin: 0 20px;
  }

  #navbar-design {
    padding: 10px 25px;
  }

  #nav-title {
    width: 90px;
  }

  .nav-items:hover .nav-icons {
    transform: translateY(-25px) scale(2);
  }

  .nav-text {
    display: none;
  }

  #hero-profile-box {
    height: 100%;
  }

  #hero-profile {
    height: 550px;
    width: 550px;
  }

  #resume-body {
    width: 1200px;
  }
}