@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');

body {
  overflow-x: hidden;
  background: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

#navbar {
  /* background: yellow; */
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#navbar-design {
  background: #ffffff;
  padding: 10px;
  border-radius: 30px;
  box-shadow: rgb(255, 255, 255) 0px 0px 45px -12px;
}

.nav-icons {
  border: 1px solid #000000;
  background: #000000;
  color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  transition: .3s ease-in-out;
}

.nav-items {
  text-align: center;
}

.nav-items:hover .nav-icons {
  /* background: none;
  border: 1px solid #000000;
  border-radius: 50%; */
  color: #F05454;
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#hero-profile {
  background: url('./../assets/rod.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  border: 3px solid #ffffff;
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

#intro-text {
  text-align: justify;
  text-justify: inter-word;
}