@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 70px;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

#navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#navbar-design {
  background: rgba( 255, 255, 255, 0.55 );
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
}

.nav-active {
  transform: translateY(-25px) scale(2);
  font-size: 35px;
  margin: 0 20px;
  border-radius: 50%;
  padding: 5px;
  color: #F05454;
  background: rgba( 255, 255, 255, 0.5 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.nav-icons {
  border: 1px solid #000000;
  background: #000000;
  color: #ffffff;
  border-radius: 50%;
  padding: 5px;
  transition: .3s ease-in-out;
}

.nav-items {
  text-align: center;
}

.nav-items:hover .nav-icons {
  color: #F05454;
  background: rgba( 255, 255, 255, 0.7 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#hero-profile {
  background: url('./../assets/ray.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  animation: animate-hero 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
  border: 3px solid #ffffff;
}

@keyframes animate-hero {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

#resume-body {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
}

.list-items {
  text-align: justify;
  text-justify: inter-word;
}

.hero-links {
  font-size: 35px;
  transition: .3s ease-in-out;
}

.hero-links-a {
  margin-right: 15px;
  background: #373737;
  padding: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.hero-links-a:hover .hero-links {
  color: #F05454;
  transform: scale(1.3) rotateY(360deg);
}

#contacts {
  margin-top: 100px;
  color: #ffffff;
}

#contacts-card {
  display: flex;
  justify-content: center;
}

#card-left {
  background: #F05454;
  padding: 20px;
  border-radius: 5px 0 0 5px;
}

#card-right {
  background: #ffffff;
  color: #000000;
  padding: 20px;
  border-radius: 0 5px 5px 0;
}

.skill {
  display: flex;
  align-items: center;
  border: 2px solid #424949;
  border-radius: 5px;
  padding: 10px;
  transition: .3s ease-in-out;
}

.skills-logo-div {
  height: 30px;
  width: 30px;
}

.skills-logo {
  height: 100%;
  object-fit: contain;
}

.skills-text {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 10px;
  transition: .3s ease-in-out;
}

.skills-text-hidden {
  color: #ffffff;
  margin-left: 10px;
  transition: .3s ease-in-out;
  opacity: 0;
  font-size: 13px;
  position: absolute;
}

.skill:hover {
  border: 2px solid #ffffff;
}

.skill:hover .skills-text {
  transform: translateY(-7px);
}

.skill:hover .skills-text-hidden {
  opacity: 1;
  transform: translateY(-11px);
}

.exp-card, .project {
  border-radius: 10px;
}

.exp-img-div, .project-img-div {
  height: 200px;
}

.exp-img, .project-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.exp-description, .proj-description {
  font-size: 14px;
  line-height: 25px;
  color: #aaaaaa;
}

.exp-text, .project-text {
  background: #1B1B1B;
  border-radius: 0 0 10px 10px;
}

.contact-inputs input, .contact-inputs textarea {
  border-radius: 5px;
  padding: 8px 10px;
  color: #ffffff;
  width: 100%;
  outline: none;
  border: none;
  background:#373737;
}

.contacts-icon {
  width: 30px;
}