@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap');

body {
  overflow: hidden;
  background: #000000;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

#navbar {
  /* background: yellow; */
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#navbar-design {
  background: #ffffff;
  padding: 10px;
  border-radius: 30px;
  box-shadow: rgb(255, 255, 255) 0px 0px 45px -12px;
}

.nav-icons {
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 5px;
  transition: .3s ease-in-out;
}

.nav-items {
  text-align: center;
}

.nav-text {
  display: none;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.nav-items:hover .nav-text {
  display: block;
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  width: 100px;
  transform: translateY(-50px);
}

.nav-items:hover .nav-icons {
  transform: scale(1.3);
  background-color: #000000;
  color: #ffffff;
}